<!DOCTYPE html>
<html>
<body>

<h2>Password Generator</h2>

<form action="/" method="post">
  <label for="words">Number of words:</label><br>
  <input type="number" id="words" name="words" value="6"><br>
  <label for="delimiter">Delimiter:</label><br>
  <input type="text" id="delimiter" name="delimiter" value=" "><br>
  <label for="capitalization">Capitalization:</label><br>
  <input type="checkbox" id="capitalization" name="capitalization"><br><br>
  <input type="submit" value="Generate">
</form>

</body>
</html>